{% extends "PgGsbFraisBundle::layout.html.twig" %}
{% block body %}
 {% block bloc1 %} 
 <div id="contenu">
 <div class="row">
      <div class="col m6 offset-m3">
<form method="POST" action="{{path('pg_gsb_frais_validerconnexion')}}" id="form-login">
        <p>
          <label for="nom">Login :</label>
           <input placeholder="Identifiant..." id="login" type="text" name="login"  size="30" maxlength="45">
        </p>
	<p>
            <label for="mdp">Mot de passe :</label>
            <input placeholder="Mot de passe..." id="mdp"  type="password"  name="mdp" size="30" maxlength="45">
        </p>
         <input class="waves-effect waves-light btn blue" type="submit" value="Valider" name="valider">
         <input class="waves-effect waves-light btn blue" type="reset" value="Annuler" name="annuler"> 
      </p>
</form>
</div>
</div>
</div>
    {% endblock %}    
    {% endblock %}

     