{% extends "PgGsbFraisBundle::accueil.html.twig" %}
{% block body %}
<h1>Listes des tablettes affectées</h1>


{% block block1 %}
<table class="highlight responsive-table centered">
<thead>

<th data-field="utilisateur"> Utilisateur</th>
<th data-field="ostab">OS</th>
<th data-field="memoiretab">Mémoire</th>
<th data-field="memoireext">Mémoire Ext</th>
<th data-field="idtab">ID Tab </th>
<th data-field="supprtab">Retirer</th>
</thead>
<tbody>
      {% for tablette in tabletteAffecte %}
      <tr>


      <td>{{ tablette.refVisiteur }}</td>
      <td>{{ tablette.osTablette }}</td>
      <td>{{ tablette.memoireTab }}Go</td>
      {% if tablette.memoireExtTab == NULL %}
      

      <td><i class="fa fa-times red-text z-index-1" aria-hidden="true"></i>
</td>

      {% else %}

      <td>{{ tablette.memoireExtTab }}</td>

      {% endif %}
      <td>{{ tablette.idTab }}</td>
      <td><form action="{{path('pg_gsb_frais_retirertablette')}}" method="POST">
      <input type="hidden" name="id" value="{{tablette.idTab}}"/>
      <button type="submit" class="btn red hide-on-small-only"><i class="fa fa-trash" aria-hidden="true"></i><span class="hide-on-small-only"> Retirer</span></button>
      <button type="submit" class="btn red hide-on-med-and-up" style="padding:0 10px;"><i class="fa fa-trash" aria-hidden="true"></i></button>
 
      </form>
      
      
</tr>
      {% endfor %}

</tbody>
</table>  
{% endblock %}
{% endblock %}