{% extends "PgGsbFraisBundle::layout.html.twig" %}
{% block menu %}
<div id="menuGauche">
     <div id="infosUtil">
         <h5>
            {%if(app.session.get('nom') is defined )%}
                          Utilisateur: {{app.session.get('nom')}}<br>   
            {%endif%}
        </h5>
     </div>  
        <ul id="menuList">
	   <li class="smenu">
              <a href="{{path('pg_gsb_frais_saisirfrais')}}" title="Saisie fiche de frais ">Saisie fiche de frais</a>
           </li>
           <li class="smenu">
              <a href="{{path('pg_gsb_frais_listefrais')}}" title="Consultation de mes fiches de frais">Mes fiches de frais</a>
           </li>	
           <li class="smenu">
              <a href="{{path('pg_gsb_frais_validerfraishorsforfais')}}" title="valider les frais">Valider les frais</a>
           </li>
           <li class="smenu">
              <a href="{{path('pg_gsb_frais_affichertabletteaffecter')}}" title="Afficher les tablettes">Afficher les affectations</a>
           </li>
           <li class="smenu">
              <a href="{{path('pg_gsb_frais_creertablette')}}" title="Créer une tablette">Créer une tablette</a>
           </li>
           <li class="smenu">
              <a href="{{path('pg_gsb_frais_deconnexion')}}" title="Se déconnecter">Déconnexion</a>
           </li>
         </ul>
     </div> 
{% endblock%}


{#
 <li class="smenu">
              <a href="{{path('pg_gsb_frais_saisirfrais')}}" title="Saisie fiche de frais ">Saisie fiche de frais</a>
           </li>
           <li class="smenu">
              <a href="{{path('pg_gsb_frais_listefrais')}}" title="Consultation de mes fiches de frais">Mes fiches de frais</a>
           </li>
#}