<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
  <head>
    <title>Intranet du Laboratoire Galaxy-Swiss Bourdin</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ asset('bundles/gsbfrais/css/styles.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/gsbfrais/css/materialize.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

    <link rel="shortcut icon" type="image/x-icon" href="./images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  </head>
  <body>
<header>
    <div class="nav-wrapper">

<ul id="slide-out" class="side-nav fixed center-align">
 <img src="{{ asset('bundles/gsbfrais/images/logo.jpg')}}" id="logoGSB" alt="Laboratoire Galaxy-Swiss Bourdin" title="Laboratoire Galaxy-Swiss Bourdin" />
          {% block menu %}
          {% endblock %}
      </ul>


</div>
<nav class="blue darken-1 nav-gsb center-align">
<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
        <span class="top-title">Suivi du remboursement des frais</span>
</nav>
</header>
<main>

          {% block body %} 
                 {% block bloc1 %}
                 {% endblock %}
          {% endblock %}
     
     </main>
          <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="{{ asset('bundles/gsbfrais/js/materialize.min.js') }}"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
            {%if(message is defined )%}
            <script>
              $(document).ready(function(){
swal("Erreur", "{{message}}", "error");
});


            </script>

        
      {%endif%}
            
   
   
   <script>
                 $(document).ready(function(){
       $(".button-collapse").sideNav();
         $('select').material_select();





});

$("#os-select").change(function(){
if ($('#os-select option:selected').text()=="OSX"){
  $("#memoire-ext").prop('disabled', true);

}
else {
  $("#memoire-ext").prop('disabled', false);

}
});
  

</script>
   
    </body>
  </html>

          
          
