{% extends "PgGsbFraisBundle::accueil.html.twig" %}
{% block body %}
<h1>Affecter une tablette à un utilisteur</h1>

<div id="contenu">
      <form action="{{path('pg_gsb_frais_saisirfrais')}}" method="POST">
       <select name ="user" form="add-tablette">
       {% for users in user %}
       <option value="{{users.id}}">{{users.nom}} {{users.prenom}}</option>
       {% endfor %}
        </select>

        <select name="tablette">
        {% for tablettes in tablette %}
        {{tablettes.id}}

            <option value="{{tablettes.id}}">{{tablettes.idTab}}</option> 

        {% endfor %}
        </select> 


          <div class="piedForm">
          <p>
            <input class="btn blue" type="submit" value="Valider" size="20" />

          </p> 
          </div>
      </form>
</div>

{% block block1 %}

{% endblock %}
{% endblock %}