{% extends "PgGsbFraisBundle::accueil.html.twig" %}
{% block body %}
<div id="container">
<div class="row">
        {% for message in app.session.flashbag.get('info') %}
        <div class="card-panel light-green white-text"><i class="fa fa-check-circle" aria-hidden="true"></i>
{{message}}</div>
        
      {% endfor %}
      <h2>Ajouter une tablette</h2>
      <form action="{{path('pg_gsb_frais_creertablette')}}" method="POST" id="add-tablette">
          
          <div class="input-field col m3">
          <select id="os-select" name ="os" form="add-tablette">
          <option value="Android">Android</option>
          <option value="OSX">OSX</option>
          </select>
          </div>
<div class="input-field col m3">
          <input type="text" name ="memoireinterne" placeholder="Mémoire interne"/>
          </div>
          <div class="input-field col m3">
          <input type ="text" id="memoire-ext" name ="memoireext" placeholder="Mémoire externe"/>
          </div>
          <div class="input-field col m3">
          
            <input class="btn blue waves-effect" type="submit" value="Valider" size="20" />
          </div>
          </div>
          </div>
      </form>
</div>
{% endblock %}