
.nav-gsb {
    height:90px;
    line-height: 90px;
}
.top-title {
    font-family: 'Montserrat', sans-serif;
    margin-left:15px;
    font-size:36px;
    color: #fff;

}

header, main, footer {
    padding-left: 300px;
    }
main {
    padding: 20px;
    padding-left: 320px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
      }
    main {
        padding: 0px;
    }


.top-title {
    font-family: 'Montserrat', sans-serif;
    margin-left:15px;
    font-size:20px;
    color: #fff;
    }

    


    }
@media only screen and (max-width : 400px) {

.nav-gsb {
    line-height: 30px;
    padding: 20px;
}


    }





.page-header {
  border-bottom: 1px solid #eee;
}

#form-login {
    margin-top: 100px;
}
form label {
    font-size: 16px;
}
#slide-out{
    font-family: 'Montserrat', sans-serif;

}
.erreur-msg {
    background-color: #f44336;
    color: #fff;
    font-weight: bold;
}

input:focus {
        border-bottom: 1px solid #1976d2 !important;
    box-shadow: 0 1px 0 0 #1976d2 !important;
}
option {
    color:#1976d2 !important;
}
